.space {
    width:100px !important;
    height:100px;
    margin: 0px !important;
}

.col-edit{
    padding: 0px !important;
    margin:0px !important;
}

.symbol {
    font-size: 100px;
    line-height: 1;
}

.button-col {
    display: inline-block;
}

.button-row {
    justify-content: flex start;
    margin-left: 90px !important;
}